<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/documentos/home.css">
        <link rel="stylesheet" href="/stylesheets/necolas.github.io_normalize.css_8.0.1_normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
        <title>CIRDC</title>
    </head>
    <body>
        <header class="header">
            <a class="logo" style="user-select: none;">CIRDC</a>

            <nav class="navC">
                <a href="/ventas">Productos</a>
                <a href="/documentos/ingresar" class="nav_a" style="display: 'inline-block'">Nuevo Documento</a>
                <a href="/usuarios/logout" class="nav_a">Cerrar Sesion</a>
            </nav>
        </header>

        <div class="informes">
            <% for(var i = 0; i < documentos.length; i++) { %>
                <div class="informe in1">
                    <h2><a href=<%= '/comentarios/' + documentos[i].id_doc %>><%= documentos[i].titulo_doc %> <br></a>Autor: <%= documentos[i].apellido_usu %>, <br><%= documentos[i].nombre_usu %></h2>
                    <p><%= documentos[i].contenido_doc %></p>
                    <div class="ver_comentarios">
                        <h4 class="comentar_click"><a href=<%= '/comentarios/' + documentos[i].id_doc %>>Comentar</a></h4>
                    </div>
                </div>
                
            <% } %>
        </div>
    </body>
</html>
